.header {
    background-color: var(--bg);
    position: fixed;
    width: 100%;
    top: 0;
    height: 70px;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    z-index: 10;
}

.header-container {
    width: var(--width);
    margin: auto;
}

.username-logout-wrapper {
    font-size: 18px;
}

.header-logo {
    margin-bottom: 0;
}

.fa-arrow-right-from-bracket {
    cursor: pointer;
}

.username {
    margin-bottom: 0;
}

.header-btn {
    all: unset;
    padding: var(--m-padding) var(--l-padding);
    border-radius: 5px;
    transition: all 0.2s;
    cursor: pointer;
    margin-right: 30px;
    font-size: 16px;
}

.sales-mode-link {
    background-color: var(--danger);
    color: var(--bg);
}

.price-mode-link {
    background-color: var(--grey);
    color: var(--bg);
}

@media (hover:hover) {
    .header-btn:hover {
        background-color: var(--dark-danger);
    }

    .price-mode-link:hover {
        background-color: var(--light-grey);
    }
}

@media screen and (max-width: 992px) {
    .header-btn {
        display: none;
    }

    .header-logo {
        font-size: 24px;
    }
}